ul.json-tree-view-list {
    list-style: none;
    cursor: pointer;
  }

  li.json-tree-view-list-item {
      padding-bottom: .25em;
  }

/* i {
    border: solid black;
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 3px;
  }
  
  .right {
      transform: rotate(-45deg);
      -webkit-transform: rotate(-45deg);
  }
  
  .down {
      transform: rotate(45deg);
      -webkit-transform: rotate(45deg);
  } */

.json-treeview-triangle-btn {
    float: left;
    margin-right: 1px;
    cursor: pointer;
  }

.json-treeview-triangle-btn-right {
    width: 0px;
    height: 0px;
    margin-top: 5px;
    margin-right: 5px;
    border-top: 5px solid transparent;
    border-left: 6px solid #0087E2;
    border-bottom: 5px solid transparent;
  }

.json-treeview-triangle-btn-down {
    width: 0px;
    height: 0px;
    margin-top: 5px;
    margin-right: 5px;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-top: 6px solid #0000ff;
  }

  .json-tree-view-selected-element{
    background-color: #d0d0d0;
  }